<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Add Party Page</title>
	<link rel="stylesheet" th:href="@{/css/base.css}">
	<link rel="stylesheet" th:href="@{/css/layout.css}">
	<link rel="stylesheet" th:href="@{/css/card.css}">
	<link rel="stylesheet" th:href="@{/css/form.css}">
	<link rel="stylesheet" th:href="@{/css/table.css}">
	<link rel="stylesheet" th:href="@{/css/warningbox.css}">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>	
<body>
	<div class="layout">
		<div th:replace="~{fragments/layout :: topnav}"></div>
		<div th:replace="~{fragments/layout :: sidebar('addparty')}"></div>
		
		<main class="main">
			<h1 class="page-title">Entry of Party</h1>
			
		
			<p th:if="${successMessage}" th:text="${successMessage}" class="alert alert-success"></p>
			<p th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-error"></p>
			
			<div class="form-wrapper">
				<form id="addparty" th:action="@{/addparty}" th:object= "${addPartyDto}" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<label>Party Name</label>
						<input type="text" id="partyname" name="partyname" th:field="*{name}" class="form-control" required />
						<span id="partyname-error" class="form-error"></span>
						<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="form-error"></span>
					</div>
					<div class="form-group">
						<label>Party Abbreviation</label>
						<input type="text" id="partyabbr" name="partyabbr" th:field="*{abbreviation}" class="form-control" required />
						<span id="partyabbr-error" class="form-error"></span>
						<span th:if="${#fields.hasErrors('abbreviation')}" th:errors="*{abbreviation}" class="form-error"></span>
					</div>
					<div class="form-group">
						<label>Party Symbol</label>
						<div style="display: flex; align-items: center; gap: 10px;">
						    <label class="file-label" for="partysymbol">
						        Choose File
						    </label>
						    <span class="file-name" id="file-name-display">No file chosen</span>
						</div>
						<input type="file" id="partysymbol" name="symbol" accept="image/*" required />
						<span th:if="${fileError}" th:text="${fileError}" class="form-error"></span>
					</div>
					<button type="submit" class="btn-primary">Enter</button>
				</form>
			</div>

			<br><br>
			
			<div th:if="${deleteWarningId}" class="warning-box">
			    <p th:text="${message}" class="warning-message"></p>
			    <form th:action="@{/parties/confirmdelete/{id}(id=${deleteWarningId})}" method="post">
			        <button type="submit" class="button-type">Yes, delete anyway</button>
			        <a th:href="@{/addparty}" class="button-cancel">Cancel</a>
			    </form>
			</div>
			
			<br><br>
			
			<input type="text" id="search" placeholder="Search..." oninput="filterTable()" class="search-input"/>
						
			<table id="viewparties-table">
				<thead>
					<th>#</th>
					<th>Party Name</th>
					<th>Abbreviation</th>
					<th>Image</th>
					<th>Action</th>
				</thead>
				<tbody>
					<tr th:each="party, iterStat: ${viewparties}">
						<td th:text="${iterStat.count}"></td>
						<td th:text="${party.name}"></td>
						<td th:text="${party.abbr}"></td>
						<td>
							<img th:src="@{/parties/{code}/image(code=${party.code})}" width="100" height="100" alt="placeholderimg" />
						</td>
						<td>
						    <form th:action="@{/parties/delete/{id}(id=${party.code})}" method="post">
						        <button type="submit" onClick="return confirm('Are you sure you want to delete this entry?')" class="btn-primary">Delete</button>
						    </form>
						</td>
					</tr>
				</tbody>
			</table>
			
			
		</main>
	
		<div th:replace="~{fragments/layout :: footer}"></div>

	</div>

	
	<script>
		
		function filterTable(){
			const q=$("#search").val().toLowerCase();
			$("#viewparties-table tbody tr").each(function (){
				
				const text = $(this).text().toLowerCase();
				$(this).toggle(text.includes(q));
			
			});
		}

	
	
	
		document.getElementById('partysymbol').addEventListener('change', function () {
		    const display = document.getElementById('file-name-display');
		    display.textContent = this.files[0] ? this.files[0].name : 'No file chosen';
		});
	
	</script>
	
		
</body>
</html>