<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Votes Per Round Page</title>
	<link rel="stylesheet" th:href="@{/css/base.css}">
	<link rel="stylesheet" th:href="@{/css/layout.css}">
	<link rel="stylesheet" th:href="@{/css/card.css}">
	<link rel="stylesheet" th:href="@{/css/form.css}">
	<link rel="stylesheet" th:href="@{/css/button.css}">
	<link rel="stylesheet" th:href="@{/css/table.css}">
	<link rel="stylesheet" th:href="@{/css/warningbox.css}">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="/js/roundvotes.js"></script>
	
</head>
<body>
	
	<div class="layout">
		
		<div th:replace="~{fragments/layout :: topnav}"></div>
		<div th:replace="~{fragments/layout :: sidebar('roundvotes')}"></div>	
		
		<main class="main">
			
			<h1 class="page-title">Round Wise Vote Entry</h1>
			
			<p th:if="${successMessage}" th:text="${successMessage}" class="alert alert-success"></p>
			<p th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-error"></p>
			
			<div class="form-wrapper">
				
				<form id="addroundvotes" method="post" th:action="@{/roundvotes/submit}">
					<div class="form-group">
						<label>Assembly Contituency</label>
						<select class="form-control" name="acno" id="acdropdown" required>
							<option value="">Select Assembly Constituency</option>
						</select>
						<span id="acdropdown-error" class="form-error"></span>
						<!--<span th:if="${#fields.hasErrors('acno')}" th:errors="*{acno}" class="form-error"></span>-->
					</div>
				
					<div class="form-group">
						<label>Round No.</label>
						<select class="form-control" name="roundno" id="roundsdropdown" required>
							<option value="">Select Round</option>
						</select>
						<!--<span th:if="${#fields.hasErrors('roundno')}" th:errors="*{roundno}" class="form-error"></span>	-->			
					</div>
					
					<div class="form-group">
						<label>Description</label>
						<select class="form-control" name="description" id="descdropdown" required>
							<option value="">Select Description</option>
							<option value="EVM Counting">EVM Counting</option>
							<option value="Postal Ballot">Postal Ballot</option>
						</select>
						<!--<span th:if="${#fields.hasErrors('roundno')}" th:errors="*{roundno}" class="form-error"></span>	-->			
					</div>
					
					<div class="form-group">
						<div id="candidateContainer"></div>
					</div>
					
					<button type="submit" class="btn btn-primary">Enter</button>
					
				</form>
				
				
			</div>
			
			<table id="acstatustable">
				<thead>
					<tr>
						<th>Assembly Constituency</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="ac: ${acstatus}" class="ac-row" th:data-ac-id="${ac.acno}" style="cursor:pointer">
						<td th:text="${ac.acno + ' - ' + ac.acname}"></td>
						<td th:text="${ac.status}"></td>
					</tr>
					
				</tbody>
			</table>
			
			
			
		</main>

		<div th:replace="~{fragments/layout :: footer}"></div>
		
	</div>
	
</body>
</html>