<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Home Page</title>
	<link rel="stylesheet" th:href="@{/css/base.css}">
	<link rel="stylesheet" th:href="@{/css/layout.css}">
	<link rel="stylesheet" th:href="@{/css/card.css}">
</head>	
<body>
	<div class="layout">
	<div th:replace="~{fragments/layout :: topnav}"></div>
	<div th:replace="~{fragments/layout :: sidebar('home')}"></div>
	
	<main class="main">
		<p class="page-title" th:text="'Welcome, ' + ${#authentication.name} + '!'"></p>
		<p class="page-subtitle">Election Trends</p>
		
		<div class="card-grid">
			<div class="card">
				<div class="card__title">Title</div>
				<div class="card__value">2027</div>
				<div class="card__sub">Sub Text</div>
			</div>
		</div>
		
	</main>
	
	<div th:replace="~{fragments/layout :: footer}"></div>
	</div>
</body>
</html>